@charset "utf-8";
@import "reset";
@import "variables";
@import "mixin";

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 106rem;
  background-color: #f2f2f2;
  margin: 8.6rem auto 13.5rem;
  border: 0.2rem solid #bdbdbd;
  border-radius: 1.5rem;
}

.header {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  color: #000;
  .title {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    padding: 4rem;
    border-bottom: 0.2rem solid #bdbdbd;
    margin: 0 20.3rem;
  }
  .nav {
    margin: 2.8rem 0;
    .navListBox {
      display: flex;
      justify-content: space-between;
      width: 37.2rem;
      margin: 0 auto;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #828282;
      .navList {
        cursor: pointer;
        &:nth-of-type(1) {
          color: #000000;
          font-weight: 900;
        }
        &:hover {
          color: #000000;
          font-weight: 900;
        }
      }
    }
  }
}

.main {
  padding: 0 2.8rem 3rem;
  .movieListBox {
    width: 100.3rem;
    border: 2px solid #bdbdbd;
    border-radius: 15px;
    background-color: #fff;
    padding: 2.4rem 2.5rem 2.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.4rem;
    .movieList {
      width: 22rem;
      border: 1px solid #bdbdbd;
      box-shadow: 0px 0px 5px 0px #0000004d;
      border-radius: 1rem;
      padding: 1.8rem 1.9rem 0;
      overflow: hidden;
      .moviePoster {
        width: 18rem;
        height: 25rem;
        border: 1px solid #bdbdbd;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 1rem;
        margin-bottom: 1.1rem;
      }
      .movieTitle {
        font-family: "Noto Sans KR";
        font-style: normal;
        font-weight: 900;
        font-size: 1.6rem;
        line-height: 23px;
        margin-bottom: 1.2rem;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .movieInfo {
        font-family: "Noto Sans KR";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        dt,
        dd {
          display: inline-block;
        }
        dt {
          color: #828282;
          margin-right: 0.3rem;
          margin-bottom: 0.5rem;
          &:nth-of-type(2)::after {
            content: " ";
            width: 1.4rem;
            height: 1.4rem;
            background-image: url(../images/별점이미지.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            margin: 0.1rem 0 0 0.3rem;
          }
        }
        dd {
          &:nth-of-type(1) {
            margin-right: 3.7rem;
          }
          &.longGenre {
            margin-right: 2rem;
          }
          &:nth-of-type(3) {
            margin-right: 7rem;
          }
        }
      }
    }
    .movieButton {
      box-sizing: border-box;
      float: left;
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      margin-top: 1.3rem;
      padding: 1rem 0;
      background-color: #f2f2f2;
      border-top: 1px solid #bdbdbd;
      &.bookButton {
        width: 10.7rem;
        margin-left: -1.9rem;
      }
      &.previewButton {
        float: right;
        width: 11.3rem;
        margin-right: -2.1rem;
        border-left: 1px solid #bdbdbd;
        &::before {
          content: " ";
          width: 1.6rem;
          height: 1.6rem;
          background-image: url(../images/아이콘_재생.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: middle;
          margin: 0 0.2rem 0.2rem 0;
        }
      }
    }
  }
}
