@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.ir {
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1px;
  color: transparent;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 106rem;
  background-color: #f2f2f2;
  margin: 8.6rem auto 13.5rem;
  border: 0.2rem solid #bdbdbd;
  border-radius: 1.5rem;
}

.header {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  color: #000;
}

.header .title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  padding: 4rem;
  border-bottom: 0.2rem solid #bdbdbd;
  margin: 0 20.3rem;
}

.header .nav {
  margin: 2.8rem 0;
}

.header .nav .navListBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 37.2rem;
  margin: 0 auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}

.header .nav .navListBox .navList {
  cursor: pointer;
}

.header .nav .navListBox .navList:nth-of-type(1) {
  color: #000000;
  font-weight: 900;
}

.header .nav .navListBox .navList:hover {
  color: #000000;
  font-weight: 900;
}

.main {
  padding: 0 2.8rem 3rem;
}

.main .movieListBox {
  width: 100.3rem;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
  background-color: #fff;
  padding: 2.4rem 2.5rem 2.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2.4rem;
}

.main .movieListBox .movieList {
  width: 22rem;
  border: 1px solid #bdbdbd;
  -webkit-box-shadow: 0px 0px 5px 0px #0000004d;
          box-shadow: 0px 0px 5px 0px #0000004d;
  border-radius: 1rem;
  padding: 1.8rem 1.9rem 0;
  overflow: hidden;
}

.main .movieListBox .movieList .moviePoster {
  width: 18rem;
  height: 25rem;
  border: 1px solid #bdbdbd;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 1rem;
  margin-bottom: 1.1rem;
}

.main .movieListBox .movieList .movieTitle {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 23px;
  margin-bottom: 1.2rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main .movieListBox .movieList .movieInfo {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
}

.main .movieListBox .movieList .movieInfo dt,
.main .movieListBox .movieList .movieInfo dd {
  display: inline-block;
}

.main .movieListBox .movieList .movieInfo dt {
  color: #828282;
  margin-right: 0.3rem;
  margin-bottom: 0.5rem;
}

.main .movieListBox .movieList .movieInfo dt:nth-of-type(2)::after {
  content: " ";
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../images/별점이미지.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 0.1rem 0 0 0.3rem;
}

.main .movieListBox .movieList .movieInfo dd:nth-of-type(1) {
  margin-right: 3.7rem;
}

.main .movieListBox .movieList .movieInfo dd.longGenre {
  margin-right: 2rem;
}

.main .movieListBox .movieList .movieInfo dd:nth-of-type(3) {
  margin-right: 7rem;
}

.main .movieListBox .movieButton {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 1.3rem;
  padding: 1rem 0;
  background-color: #f2f2f2;
  border-top: 1px solid #bdbdbd;
}

.main .movieListBox .movieButton.bookButton {
  width: 10.7rem;
  margin-left: -1.9rem;
}

.main .movieListBox .movieButton.previewButton {
  float: right;
  width: 11.3rem;
  margin-right: -2.1rem;
  border-left: 1px solid #bdbdbd;
}

.main .movieListBox .movieButton.previewButton::before {
  content: " ";
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../images/아이콘_재생.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2rem 0.2rem 0;
}

.footer {
  width: 100vw;
  background-color: #f2f2f2;
}

.footer .footerWrapper {
  width: 119rem;
  margin: 0 auto;
}

.footer .footerWrapper .linkSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.4rem 0 4.2rem;
  border-bottom: 1px solid #c4c4c4;
}

.footer .footerWrapper .linkSection .corpName {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.footer .footerWrapper .linkSection .snsImg {
  width: 2.4rem;
  margin-left: 2.2rem;
}

.footer .footerWrapper .infoSection {
  padding: 3.6rem 0 3.8rem;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerWrapper .infoSection .corpInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footerWrapper .infoSection .corpInfo dt {
  margin-right: 0.5rem;
}

.footer .footerWrapper .infoSection .corpInfo dd {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footerWrapper .infoSection .corpInfo dd:first-of-type {
  font-weight: 700;
}

.footer .footerWrapper .infoSection .corpInfo dd::after {
  content: " ";
  width: 0.1rem;
  height: 1.6rem;
  background-color: #4f4f4f;
  display: block;
  margin: 0 1rem;
}

.footer .footerWrapper .infoSection .corpInfo dd:last-of-type::after {
  display: none;
}
/*# sourceMappingURL=style.css.map */